/* -------------------------------- 
Fonts
-------------------------------- */
@font-face {
    font-family: AvenirLT-Light;
    src:  url(../fonts/AvenirLT-Light.woff2) format("woff2"),
          url(../fonts/AvenirLT-Light.woff) format("woff");
}

@font-face {
    font-family: AvenirLT-Medium;
    src:  url(../fonts/AvenirLT-Medium.woff2) format("woff2"),
          url(../fonts/AvenirLT-Medium.woff) format("woff");
}

@font-face {
    font-family: MuseoSlab;
    src:  url(../fonts/MuseoSlab.woff2) format("woff2"),
          url(../fonts/MuseoSlab.woff) format("woff");
}

/* -------------------------------- 
Primary style
-------------------------------- */

body {
  font-size: 14px;
  font-family: MuseoSlab, serif;
  color: white;
  background-color: black;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-family: AvenirLT-Medium, sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
}

h2 {
  font-family: AvenirLT-Light, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

/* -------------------------------- 
Resource style 
-------------------------------- */
header {
  height: 200px;
  text-align: center;
  background: black;
  border-bottom: 1px solid #7b3e29;
}

header h1 {
  padding-top: 12px;
}

.header-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-logo {
  width: 125px;
  height: 125px;
}

.timeline {
  overflow: hidden;
}

.timeline-container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.timeline-container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-marker {
  position: absolute;
  background-color: #fff;
}

.timeline-marker--year {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
}

.timeline-marker--text, .timeline-marker--storylines {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 10px;
  top: 10px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}

.timeline-year {
  position: relative;
  margin-left: 60px;
  padding: 0 0.25em;
}

.timeline-year h2 {
  font-size: 3em;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 0.25em;
}

.timeline-content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.timeline-content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 13px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid rgba(255, 255, 255, 0.1);
}

.timeline-content h2 {
  color: white;
}

.timeline-content p {
  margin: 1em 0 0 0;
  line-height: 1.6;
  overflow: hidden;
}

.timeline-content--text {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  padding: 1em 1em 0.7em 1em;
  line-height: 16px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.timeline-content--text:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.timeline-content--storylines figure {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.timeline-content--storylines figure:first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

.timeline-content--storylines figure:last-child {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.timeline-content--storylines img {
  float: left;
  max-height: 100px;
  width: auto;
}

.timeline-content--storylines figcaption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0.25em;
  font-family: AvenirLT-Light, sans-serif;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.timeline-content--storylines figure:hover figcaption {
  filter: brightness(125%);
  background-color: rgba(255, 255, 255, 0.2);
}